@import url('https://fonts.googleapis.com/css?family=Tangerine');
body{
    background-color: #000000;
    color: #fff;
    font-family: cursive;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

.logos {
    display: flex;
}

.logo:nth-child(2){
    transition-delay: 200ms;
}